body {
  background-color: #030e3c;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  padding-bottom: 150px;
}

.unesi-radionicu {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #02082b;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unesi-radionicu h2 {
  font-size: 48px;
}

.unesi-radionicu img {
  width: 150px;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.naslov {
  color: #ccc;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.radionica {
  float: left;
}

.ime {
  float: left;
  padding-left: 20px;
}

.radionica,
.ime {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#radionica,
#ime {
  color: #e72263;
}

.pitanje {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #020522;
}

.pitanje p {
  color: #ccc;
}

.pitanja {
  margin-left: 100px;
}

button {
  background: #083d75;
  padding: 10px;
  border: 2px solid #3ab8de;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  transition: 0.5s;
}

button[disabled]{
  border-color: red;
  opacity: 0.7;
}

button:hover {
  background: #3ab8de;
}

.unesi-radionicu button {
  margin-top: 15px;
}

.unesi-radionicu input {
  padding: 10px 15px;
  border: 2px solid #ccc;
  height: 30px;
  font-size: 32px;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 20px 0;
  font-size: 18px;
}

input {
  border-radius: 25px;
}

.pitanje input {
  padding: 10px 25px;
  background: none;
  color: white;
  border: 2px solid #ccc;
  width: 350px;
  height: 18px;
  font-size: 16px;
}

.glavni_deo {
  margin: 50px;
}

.author {
  color: #e72263;
}

#sifra {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}
